<body>
  <div class="AddOrder">
    <div class="DisplayOrder">
      <div class="DisplayOrder-welcome">
        <h1>Your Menus</h1>
      </div>
      <% Menu.where(user_id: @current_user.id).each do |menu|%>
        <div class="DisplayOrder-card">
          <div class="DisplayOrder-container">
            <h4>Menu id: <b><%=menu.id.to_s%></b></h4>
            <h4><b>Menu name: <%= menu.name %></b></h4>
            <%= form_with(url: "/menus/edit", method:"post") do %>
              <%= hidden_field_tag 'id', menu.id %>
              <%= submit_tag "View menu" , class: "AddOrder-button"%>
            <% end %>
            <%= form_with(url: "/menus/#{menu.id}", method:"delete") do %>
              <%= submit_tag "Delete menu" , class: "AddOrder-button"%>
            <% end %>
          </div>
        </div>
     <%end%>
    </div>
  </div>
</body>
