<body>
  <div class="content">
    <div class="DisplayOrder">
      <div class="Displaymenu">
        <h1>Order no <%= session[:show_order_id] %>: </h1>
        <%order=Order.find(session[:show_order_id])%>
        <%if order.walkin_customer ==true%>
        <h1> Walkin Customer with id:<%=order.user_id%></h1>
        <%else%>
        <%customer=User.find(order.user_id)%>
        <h1>Customer name: <%=customer.first_name + customer.last_name%>
        <%end%>
      </div>
      <section class="page-heading">
        <% Orderitem.show_order_items(session[:show_order_id]).each do |orderitem| %>
          <div class="">
            <div class="">
              <h4><b>Item name : <%= orderitem.menu_item_name %></b></h4>
              <h4><b>Item quantity : <%= orderitem.menu_item_quantity %></b></h4>
            </div>
          </div>
        <% end %>
        <div class="">
          <div class="">
            <h1><b>Total: <%= Order.find(session[:show_order_id]).total %></b></h1>
          </div>
        </div>
        <%= form_with(url: "/orders/mark", method:"post") do %>
          <%= hidden_field_tag 'id', session[:show_order_id] %>
          <%= submit_tag "Mark as delivered", class: "signup-btn-in3" %>
        <% end %>
      </section>
    </div>
  </div>
</body>
