<body>
  <div class="Navbar">
    <a href="#">home</a>
    <a href="#">profile</a>
  </div>
  <div class="DisplayItem-welcome">
    <h1>Welcome Gattu........</h1>
  </div>
  <!-- The flexible grid (content) -->
  <div class="AddOrderItemContainer">
    <div class="AddOrderItem">
      <%order_id= Order.maximum(:id).to_i%>
      <h2>Menu Items</h2>
      <% Menuitem.all.each do |menuitem|%>
        <div class="DisplayItem-card">
          <%= form_with(url: "/orderitems", method:"post", class: "AddItem-body") do %>
            <div class="DisplayItem-container">
              <h4><b><%=order_id%></b></h4>
              <input type="hidden" name="order_id" value= <%= order_id%>>
              <h4><b><%=menuitem.id.to_s%></b></h4>
              <input type="hidden" name="menu_item_id" value=<%=menuitem.id%>>
              <h4><b><%= menuitem.item_name%></b></h4>
              <input type="hidden" name="menu_item_name" value=<%= menuitem.item_name%>>
              <h4><b><%= menuitem.item_description%></b></h4>
              <h4> <%= menuitem.item_price.to_s%></h4>
              <input type="hidden" name="menu_item_price" value=<%= menuitem.item_price%>>
              <p> &#8377 <%= (menuitem.item_price).to_s%>.</p>
              <input type="submit" value="Add Item" class="AddItem-button" />
            </div>
          <%end%>
        </div>
      <%end%>
   </div>
   <div class="DisplayOrderItem">
      <h1>Ordered Items</h1>
      <% Orderitem.where(order_id: order_id).each do |orderitem| #tracking current order id%>
        <div class="DisplayItem-card">
          <div class="DisplayItem-container">
            <h4><b><%=orderitem.order_id.to_s%></b></h4>
            <h4><b><%= orderitem.menu_item_id%></b></h4>
            <h4><b><%= orderitem.menu_item_name%></b></h4>
            <p> &#8377 <%= orderitem.menu_item_price.to_s%></p>
          </div>
        </div>
     <% end %>
     <%= form_with(url: "/orderitems/redirect", method:"post", class: "AddItem-body") do %>
         <input type="submit" value="Place Order" class="AddOrder-button" />
     <%end%>
    </div>
  </div>
</body>
