<body>
  <div class="content">
    <div class="DisplayOrder">
      <div class="Displaymenu2">
        <h1>Invoice Details</h1>
      </div>
      <hr class="roundedfull">
      <section class="page-heading1">
        <h4>Order no : <%= session[:show_order_id] %> </h4>
        <% customer_id = Order.find(session[:show_order_id]).user_id %>
        <h4>Customer name : <%= User.find(customer_id).first_name + " " +User.find(customer_id).last_name %></h4>
        <% Orderitem.show_order_items(session[:show_order_id]).each do |orderitem| %>
        <h4><b>Item name : <%= orderitem.menu_item_name %></b></h4>
        <h4><b>Quantity : <%= orderitem.menu_item_quantity %></b></h4>
        <% end %>
        <hr class="rounded">
        <h4><b>Total: <%= Order.find(session[:show_order_id]).total %></b></h4>
      </section>
    </div>
  </div>
</body>
