<body>
  <div class="content">
    <div class="DisplayOrder">
      <div class="Displaymenu">
        <h1>My CART</h1>
      </div>
      <hr class="roundedfull">
      <section class="page-heading1">
        <%total=0%>
        <% if Orderitem.in_cart(@current_user.id).count ==0%>
          <i><h4 style="font-family:courier;color: yellow;">YOUR CART IS EMPTY</h4></i>
        <% end %>
        <% Orderitem.in_cart(@current_user.id).each do |orderitem| #tracking current order id %>
          <div class="textline5">
            <h4><b><%= orderitem.menu_item_name %></b></h4>
            <div class="floatright">
              <h4>
               <%= orderitem.menu_item_quantity.to_s+" * "+orderitem.menu_item_price.to_s+"="%>
                &#8377
                <% total+=orderitem.menu_item_price*orderitem.menu_item_quantity %>

                <%= orderitem.menu_item_price*orderitem.menu_item_quantity %>
              </h4>
            </div>

            <div class="floatright">
              <%= form_with(url: "/orderitems/#{orderitem.id}", method:"delete") do %>
                <%= submit_tag "Remove item" , class: "signup-btn-in15" %>
              <% end %>
            </div>
          </div>
        <% end %>
        <hr class="rounded">
        <h4><b>Total: &#8377 <%=total%></b></h4>
        <%= form_with(url: "/orders/store1", method:"post") do %>
          <%= hidden_field_tag 'total', total %>
          <%= submit_tag "Place Order", class: "signup-btn-in4" %>
        <% end %>
      </section>
    </div>
  </div>
</body>
