<body>
  <div class="AddOrder">
    <div class="DisplayOrder">
      <div class="DisplayOrder-welcome">
        <h1>Your Orders</h1>
      </div>
      <%= form_with(url: "/menuitems/#{@update_menuitem.id}", method:"put", class: "AddItem-body") do %>
        <h2>Edit Item</h2>
        <div class="AddItem-container">
          <p class="AddItem-name">Item Name:</p>
          <%=text_field_tag  "item_name", @update_menuitem.item_name, class: "AddItem-item"%>
        </div>
        <div class="AddItem-container">
          <p class="AddItem-name">Item Description:</p>
          <%=text_area_tag  "item_description",@update_menuitem.item_description  ,rows: 5, class: "AddItem-item"%>
        </div>
        <div class="AddItem-container">
          <p class="AddItem-name">Item Price:</p>
          <%=text_field_tag  "item_price", @update_menuitem.item_price ,class: "AddItem-item"%>
        </div>
        <%= submit_tag "Update item" , class: "AddOrder-button"%>
      <%end%>
    </div>
  </div>
</body>
