<body>
  <div class="Displaymenu">
        <h1>Add Items</h1>
      </div>

   <section class="page-heading4">

    <a href="/menuitems/new"> <%= submit_tag "Add new item", class: "signup-btn-in5" %></a>

        <% order_id= session[:current_order_id] %>
        <% menu_id= session[:show_menu_id] %>
        <% total=0 %>
        <div class="offer-item" style="align: center;">
          <%= form_with(url: "/menuitems/search", method: "post", class: "") do %>
            <select id="roles" name="menuitem_id" class="signup-btn-in13" >
              <% Menuitem.where(menu_id: menu_id ).each do |menuitem|%>
                <option value=<%= menuitem.id %>> <%= menuitem.item_name %></option>
              <% end %>
            </select>
            <%= submit_tag "Search item" , class: "signup-btn-in12" %>
          <% end %>
        </div>

        <% if session[:search_menuitem_id] != nil %>
          <% menuitem=Menuitem.find(session[:search_menuitem_id]) %>
          <%= form_with(url: "/menuitems/add", method:"post", class: "") do %>
            <div class="offer-item">
              <div>
                <h4><b>Item : <%= menuitem.item_name %></b></h4>
                <%= hidden_field_tag 'menu_item_id', menuitem.id %>
                <%= hidden_field_tag 'menu_item_name', menuitem.item_name %>
                <h4><b>Description : <%= menuitem.item_description %></b></h4>
                <h4>Price : &#8377 <%= menuitem.item_price.to_s %></h4>
                <%= hidden_field_tag 'menu_item_price', menuitem.item_price %>
              </div>
              <div>
                <%= hidden_field_tag 'menu_image_url', menuitem.image_url %>
                <% if menuitem.image_url == ""  %>
                  <img src="/assets/menu-item-thumbnail-03.jpg" >
                <% else %>
                  <%= image_tag(menuitem.image_url,:size => "200*200", :alt => "rss feed") %>
                <% end %>
              </div>
            </div>
            <%= submit_tag "Add to Menu" , class: "signup-btn-in6"%>
          <% end %>
        <% end %>
      </section>
  <div class="DisplayItem">
    <div class="Displaymenu">
      <h4><%= Menu.find( @current_menu_id).name %> Menu:</h4>
    </div>
    <% Menuitem.where(menu_id: @current_menu_id).each do |menuitem| %>
      <div class="">
        <div class="offer-item">
          <% if menuitem.image_url == "" %>
            <img src="/assets/menu-item-thumbnail-03.jpg" >
          <% else %>
            <img src=<%= menuitem.image_url %> alt= "No image available">
          <% end%>
          <div class=adjustmenu>
            <h4><b><%= menuitem.item_name %></b></h4>
            <p> <%= menuitem.item_description %></p>
            <p> &#8377 <%= (menuitem.item_price).to_s %>.</p>
          </div>
          <div class="MenuButton-container">
            <a href="/menuitems/<%= menuitem.id%>/edit"> <button class="signup-btn-in4">Edit</button></a>
            <%= form_with(url: "/menuitems/#{menuitem.id}", method:"delete") do %>
              <%= submit_tag "Delete", class: "signup-btn-in4" %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <%= form_with(url: "/menuitems/done", method:"post", class: "") do %>
      <%= hidden_field_tag 'menu_id', @current_menu_id %>
      <%= submit_tag "Done", class: "signup-btn-in5" %>
    <% end %>
  </div>
</body>
