<body>
  <div class="AddOrder">
    <div class="DisplayOrder">
      <div class="DisplayOrder-welcome">
        <h1>Your Complaint Orders</h1>
      </div>
      <% Order.where(user_id: @current_user.id, status: "complaint" ).each do |order|%>
        <div class="DisplayOrder-card">
          <div class="DisplayOrder-container">
            <h4>Order id: <b><%=order.id.to_s%></b></h4>
            <h4><b>Order time: <%= order.order_date.to_s(:long) %></b></h4>
            <h4><b>Delivery status: <%= (order.delivered_at==nil) ?  "Delivery in progress" : "Delivered at #{order.delivered_at.to_s(:long)}" %></h4>
            <%if order.delivered_at != nil%>
              <%= form_with(url: "/orders/#{order.id}", method:"delete") do %>
                <%= submit_tag "received?" , class: "AddItem-button"%>
              <%end%>
            <%end%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</body>
