<body>
  <div class="content">
    <div class="DisplayOrder">
      <div class="Displaymenu2">
        <h1>Your Orders</h1>
      </div>
      <div class="inline">
        <%= image_tag("deliveryboy.jpg", :size => "600x550", :alt => "rss feed") %>
        <% Order.show_orders( @current_user.id).each do |order| %>
          <div class="secondhalf2">
            <div class="DisplayOrder-card">
              <div class="DisplayOrder-container">
                <div class="textline10">
                Order id: <b><%= order.id.to_s %></b>
              </div>
              <div class="textline10">
                <b>Order time: <%= order.order_date.in_time_zone("Chennai").to_s(:long) %></b>
              </div>
              <div class="textline10"><b>Delivery status:
                <%= (order.delivered_at==nil) ?  "Delivery in progress" : "Delivered at #{order.delivered_at.to_s(:long)}" %>
              </div>
              <% if order.delivered_at != nil %>
                <%= form_with(url: "/orders/#{order.id}", method:"delete") do %>
                  <%= submit_tag "received?", class: "signup-btn-in8" %>
                <% end %>
                <%= form_with(url: "/orders/complain", method:"post") do %>
                  <%= hidden_field_tag 'id', order.id %>
                  <%= submit_tag "complain", class: "signup-btn-in8" %>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</body>
