<body>
  <div class="content">
    <div class="DisplayOrder">
      <div class="Displaymenu">
        <h1>Orders</h1>
      </div>
    </div>
    <% Order.inprogress_orders.each do |order|  #getting only undelivered orders %>
      <div class="DisplayOrder-card">
        <div class="DisplayOrder-container">
          <div class="textline">
            <b>Order time: <%= order.order_date.in_time_zone("Chennai").to_s(:long) %></b>
          </div>
           <div class="textline">
            <b>Order id: <%= order.id %></b>
          </div>
          <div class="textline">
            <b>Total: &#8377 <b><%=order.total.to_s%></b>
          </div>
          <%= form_with(url: "/orderitems/display", method:"post") do %>
            <%= hidden_field_tag 'order_id', order.id %>
            <%= submit_tag "Show Items", class: "signup-btn-in6" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</body>
