<body>


  <div class="content">

    <div class="DisplayOrder">
      <div class="Displaymenu">
        <h1>Complaint Orders</h1>
      </div>

      <hr class="roundedfull">
      <section class="page-heading1">

        <% Order.where(status: "complaint").each do |order|  #getting only undelivered orders%>

        <h4><b>Order time: <%= order.order_date.to_s(:long) %></b></h4>
        <h4><b>Delivery status:
            <%= (order.delivered_at==nil) ?  "Delivery in progress" : order.delivered_at.to_s(:long) %></h4>
        <h4>Total: <b><%=order.total.to_s%></b></h4>
        <%= form_with(url: "/orderitems/display", method:"post") do %>
        <%= hidden_field_tag 'order_id', order.id %>
        <%= submit_tag "Show Items" , class: "signup-btn-in4"%>
        <%end%>

        <% end %>
      </section>

    </div>


</body>
